<p-confirmDialog [baseZIndex]="10000"></p-confirmDialog>
<p-panel>
  <ng-template pTemplate="header"> <span class="text-primary font-semibold text-xl">{{'SoftwareInfo' |
      translate}}</span></ng-template>
      <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Woner Name</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
        </div>
        </div>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Product Key</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
            </div>
        </div>
        <div class="mb-3 row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Win32_NetworkAdapter Key</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{softwareInfo.win32_NetworkAdapterId}}">
           </div>
        </div>
        <div class="mb-3 row"*ngFor=" let net in  softwareInfo.win32_NetworkAdapterlist">
          <label for="staticEmail" class="col-sm-2 col-form-label">Win32_NetworkAdapter Key {{net}}</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{net}}">
           </div>
        </div>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">BaseBoard Key</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{softwareInfo.win32_BaseBoardId}}">
            </div>
        </div>
        <div class="mb-3 row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Win32_BIOS Key</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{softwareInfo.win32_BIOSId}}">
          </div>
      </div>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Version</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Expdate</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
            </div>
        </div>
        <!-- <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword">
            </div>
        </div> -->
  
</p-panel> 