<p-confirmDialog [baseZIndex]="10000"></p-confirmDialog>
<p-panel>
    <ng-template pTemplate="header"> <span class="text-primary font-semibold text-xl">{{'DAMAGE' |
            translate}}</span></ng-template>
    <form [formGroup]="frm" (ngSubmit)="save()">
        <input type="hidden" formControlName="Id" value="0">

        <div class="formgrid grid order_section">
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'DATE' | translate}}</label><span class="text-danger"> *</span><br>
                <input type="date" class="p-2  w-full" placeholder="{{'DATE' | translate}}" formControlName="Date"
                dateFormat="dd/mm/yy" pInputText />
                <!-- <p-calendar [showIcon]="true" formControlName="Date" dateFormat="dd/mm/yy"
                    placeholder="{{'DATE' | translate}}"></p-calendar> -->
                <br>
                <span *ngIf="frm.controls['Date'].invalid && frm.controls['Date'].touched " class="text-danger">
                    {{'DATE' | translate}} {{'REQUIRED' | translate}}
                </span>
            </div>
            <!-- <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'COMPANY' | translate}}</label><span class="text-danger"> *</span><br>
                <p-dropdown [options]="companies" [style]="{'width':'100%'}" formControlName="CmnCompanyId"
                    [filter]="true" filterBy="number" [showClear]="true" placeholder="{{'SELECT'|translate}}"
                    optionLabel="name" optionValue="id"></p-dropdown><br>
                <span *ngIf="frm.controls['CmnCompanyId'].invalid && frm.controls['CmnCompanyId'].touched "
                    class="text-danger">
                    {{'COMPANY' | translate}} {{'REQUIRED' | translate}}
                </span>
            </div> -->

            <div class="field col-12 sm:col-4 md:col-4 lg:col-4 xl:col-4">
                <label>{{'STORE'|translate}}</label><span class="text-danger"> *</span>
                <p-dropdown [options]="storeList" [style]="{'width':'100%'}" formControlName="CmnStoreId"
                    [filter]="true" filterBy="Name" [showClear]="true" placeholder="{{'SELECT'|translate}}"
                    optionLabel="name" optionValue="id"></p-dropdown><br>
                <!-- <span *ngIf="frm.controls['cmnStoreId'].invalid && frm.controls['cmnStoreId'].touched " class="text-danger">
                                {{'STORE'|translate}} {{'REQUIRED'|translate}}
                            </span> -->
            </div>

            <div class="field col-12 sm:col-4 md:col-4 lg:col-4 xl:col-4">
                <label>{{'REMARKS' | translate}}</label><span class="text-danger"> *</span><br>
                <input type="text" class="p-2  w-full" placeholder="{{'REMARKS' | translate}}" formControlName="Reason"
                    pInputText /><br>
                <span *ngIf="frm.controls['Reason'].invalid && frm.controls['Reason'].touched " class="text-danger">
                    {{'REMARKS' | translate}} {{'REQUIRED' | translate}}
                </span>
            </div>

        </div>
        <div class="formgrid grid order_section mt-2">
            <!-- <div class="field col-2 md:col-2">
                <label>{{'STORE' | translate}}</label><span class="text-danger"> *</span><br>
                <p-dropdown [style]="{'width':'100%'}" formControlName="CmnStoreId"
                      [filter]="true" filterBy="name" [showClear]="true" placeholder="{{'SELECT'|translate}}"
                      optionLabel="name" optionValue="id"></p-dropdown><br>
                <span *ngIf="frm.controls['CmnStoreId'].invalid && frm.controls['CmnStoreId'].touched " class="text-danger">
                    {{'STORE' | translate}} {{'REQUIRED' | translate}}
                </span>
            </div> -->
            <div class="field col-12 sm:col-3 md:col-3 lg:col-3 xl:col-3">
                <label>{{'DAMAGETYPE' | translate}}</label><span class="text-danger"> *</span><br>
                <p-dropdown [options]="damageTypes" [style]="{'width':'100%'}" formControlName="PrdDamageTypeId"
                    [filter]="true" filterBy="name" [showClear]="true" placeholder="{{'SELECT'|translate}}"
                    optionLabel="name" optionValue="id"></p-dropdown><br>
                <span *ngIf="frm.controls['PrdDamageTypeId'].invalid && frm.controls['PrdDamageTypeId'].touched "
                    class="text-danger">
                    {{'DAMAGETYPE' | translate}} {{'REQUIRED' | translate}}
                </span>
            </div>
            <div class="field col-12 sm:col-3 md:col-3 lg:col-3 xl:col-3">
                <label>{{'PRODUCT' | translate}}</label><span class="text-danger"> *</span><br>
                <p-dropdown [options]="products" [style]="{'width':'100%'}" formControlName="PrdProductId"
                    (onChange)="getProdStockRate()" [filter]="true" filterBy="name" [showClear]="true"
                    placeholder="{{'SELECT'|translate}}" optionLabel="name" optionValue="id"></p-dropdown><br>
                <span *ngIf="frm.controls['PrdProductId'].invalid && frm.controls['PrdProductId'].touched "
                    class="text-danger">
                    {{'PRODUCT' | translate}} {{'REQUIRED' | translate}}
                </span>
            </div>
            <!-- <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'CURRENTSTOCK' | translate}}</label><br>
                <input type="number" class="p-2  w-full" placeholder="{{'CURRENTSTOCK' | translate}}" [disabled]="true"
                    formControlName="currentStock" pInputText />
            </div> -->
            <div class="field col-12 sm:col-3 md:col-3 lg:col-3 xl:col-3">
                <label>{{'QUANTITY' | translate}}</label><span class="text-danger"> *</span><br>
                <input type="number" min="1" class="p-2  w-full" placeholder="{{'QUANTITY' | translate}}"
                    formControlName="Quantity" pInputText /><br>
                <span *ngIf="frm.controls['Quantity'].invalid && frm.controls['Quantity'].touched " class="text-danger">
                    {{'QUANTITY' | translate}} {{'REQUIRED' | translate}}
                </span>
            </div>
            <div class="field col-12 sm:col-3 md:col-3 lg:col-3 xl:col-3">
                <label>{{'RATE' | translate}}</label><span class="text-danger"> *</span><br>
                <input type="number" class="p-2  w-full" placeholder="{{'RATE' | translate}}" formControlName="Rate"
                    [readOnly]="true" pInputText /><br>
                <span *ngIf="frm.controls['Rate'].invalid && frm.controls['Rate'].touched " class="text-danger">
                    {{'RATE' | translate}} {{'REQUIRED' | translate}}
                </span>
            </div>

            <div class="field col-12 sm:col-6 md:col-6 lg:col-6 xl:col-6">

                <label>{{'DeviceId'|translate}}</label>
                <textarea rows="5" cols="60" pInputTextarea value="Device ID"
                    formControlName="DeviceNumber"></textarea><br>
            </div>
            <!-- <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'REASON' | translate}}</label><span class="text-danger"> *</span><br>
                <input type="text" class="p-2  w-full" placeholder="{{'REASON' | translate}}" formControlName="Reason"
                    pInputText /><br>
                <span *ngIf="frm.controls['Reason'].invalid && frm.controls['Reason'].touched " class="text-danger">
                    {{'REASON' | translate}} {{'REQUIRED' | translate}}
                </span>
            </div> -->
            <!-- <div class="mt-4">
                <p-button type="button" *ngIf="formId==0||formId==1" styleClass="p-button-primary p-button-sm"
                    icon="pi pi-plus" (click)="addrows()" label="{{'ADD'|translate}}"></p-button>
            </div> -->

            <!-- <div class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12 pl-0 pr-0 formgrid grid m-0">
                <div class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12 pl-0 pr-0">
                    <p-table [value]="details" dataKey="id" [rowHover]="true" [filterDelay]="0"
                        styleClass="p-datatable-sm p-datatable-gridlines pt-3" [tableStyle]="{'min-width': '50rem'}">
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="w-5rem">{{'SL#' | translate}}</th>
                                <th class="w-10rem">{{'PRODUCT' | translate}}</th>
                                <th class="w-5rem">{{'QUANTITY' | translate}}</th>
                                <th class="w-5rem">{{'RATE' | translate}}</th>
                                <th class="w-5rem">{{'REASON' | translate}}</th>
                                <th class="w-10rem">{{'ACTION' | translate}}</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-index="rowIndex">
                            <tr>
                                <td>{{ index+1 }}</td>
                                <td>{{ rowData.name }}</td>
                                <td class="text-center">{{rowData.quantity }}</td>
                                <td class="text-center">{{rowData.rate }}</td>
                                <td class="text-center">{{rowData.reason }}</td>
                                <td class="vcenter text-center">
                                    <p-button type="button" styleClass="p-button-success p-button-sm mr-2 px-2 py-1"
                                        icon="pi pi-pencil" (click)="editDtl(rowData)" data-toggle="tooltip"
                                        title="{{'EDIT' | translate}}"></p-button>
                                    <p-button type="button" styleClass="p-button-warning p-button-sm px-2 py-1"
                                        icon="pi pi-trash" (click)="removeRow(index);" data-toggle="tooltip"
                                        title="{{'Remove' | translate}}"></p-button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>

            </div> -->

            <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12 mt-3">
                <div class="card-footer">
                    <div class="">
                        <p-button (click)="save()" [disabled]="frm.invalid || frm.controls['Quantity'].value<1"
                            *ngIf="formId==0" styleClass="p-button-success p-button-sm" type="submit" icon="pi pi-check"
                            label="{{'SAVE'|translate}}"></p-button>
                        <p-button (click)="save()" [disabled]="frm.invalid" *ngIf="formId==1"
                            styleClass="p-button-success p-button-sm" type="submit" icon="pi pi-check"
                            label="{{'UPDATE'|translate}}"></p-button>&nbsp;
                        <p-button type="reset" *ngIf="formId==0||formId==1" styleClass="p-button-warning p-button-sm"
                            icon="pi pi-refresh" (click)="reset()" label="{{'RESET'|translate}}"></p-button>

                    </div>
                </div>
            </div>
        </div>
    </form>
</p-panel>
<p-dialog header="Header" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [draggable]="false"
    [resizable]="false">
    <ng-template pTemplate="header">
        <h5>{{'ITEMMODEL' | translate}} {{'DETAILS' | translate}}</h5>
    </ng-template>
    <div class="modal-body">
        <div class="formgrid grid">
            <div class="field col-3 md:col-3">
                <label>{{'NAME' | translate}} : </label>
                <p>{{viewInfo.name}}</p>
            </div>
            <div class="field col-3 md:col-3">
                <label>{{'REMARKS' | translate}} : </label>
                <p>{{viewInfo.remarks}}</p>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-times" (click)="displayModal=false" label="{{'CLOSE' | translate}}"
            styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<p-table #dt [value]="damageList" dataKey="id" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[15,25,50,100]" [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
    [globalFilterFields]="['name']" styleClass="p-datatable-sm p-datatable-gridlines pt-3"
    [tableStyle]="{'min-width': '50rem'}">

    <ng-template pTemplate="caption">
        <div class="flex">
            <button pButton label="Clear" class="p-button-outlined p-button-sm" icon="pi pi-filter-slash"
                (click)="clear(dt)"></button>
            <span class="p-input-icon-left ml-auto float-right">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                    placeholder="Search keyword" />
            </span>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <!-- <th pSortableColumn="title" style="text-align: center">
                <div class="vcenter text-center">
                    {{'REFNO' | translate}}
                    <p-sortIcon field="title"></p-sortIcon>
                    <p-columnFilter type="text" field="title" display="menu" class="ml-auto"></p-columnFilter>
                </div>
            </th> -->
            <th class="vcenter text-center">{{'REFNO' | translate}}</th>
            <th class="vcenter text-center">{{'REMARKS' | translate}}</th>
            <th class="vcenter text-center">{{'ACTION' | translate}}</th>
        </tr>
    </ng-template>


    <ng-template pTemplate="body" let-r>
        <tr class="p-selectable-row" [class.highlight]="selectedRow === r.id">
            <td>{{r.refNo}}</td>
            <td>{{r.remarks}}</td>
            <td class="vcenter text-center">
                <p-button type="button" styleClass="p-button-success p-button-sm mr-2 px-2 py-1" icon="pi pi-pencil"
                    (click)="edit(r.id)" data-toggle="tooltip" title="{{'EDIT' | translate}}"></p-button>
                <!-- <p-button type="button" styleClass="p-button-primary p-button-sm px-2 py-1" icon="pi pi-eye"
                    (click)="showModalDialog(r.id)" data-toggle="tooltip" title="{{'VIEW' | translate}}"></p-button> -->
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="9">No data found.</td>
        </tr>
    </ng-template>

</p-table>