<p-confirmDialog [baseZIndex]="10000"></p-confirmDialog>
<form [formGroup]="frm">
    <p-panel>
        <ng-template pTemplate="header"> <span class="text-primary font-semibold text-xl">{{'CLIENTPACKAGE' |
                translate}}</span></ng-template>

        <div class="formgrid grid">
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'PACKAGE'|translate}}</label><span class="text-danger">*</span>
                <p-dropdown [options]="packages" [style]="{'width':'100%'}" formControlName="scpPackageId"
                    [filter]="true" filterBy="name" [showClear]="true" placeholder="{{'SELECT'|translate}}"
                    optionLabel="display" optionValue="id" (onChange)="getClientDetailByPackageId()"></p-dropdown>
                <span *ngIf="frm.controls['scpPackageId'].invalid && frm.controls['scpPackageId'].touched"
                    class="text-danger">
                    {{'PACKAGE' | translate}} {{'REQUIRED' | translate}}
                </span>
            </div>
            <!--  <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'COMMISSIONAMOUNT'|translate}}</label><span class="text-danger">*</span>
                <input type="number" class="p-2  w-full" formControlName="amount" pInputText />
                <span *ngIf="frm.controls['amount'].invalid && frm.controls['amount'].touched " class="text-danger">
                    {{'COMMISSIONAMOUNT'|translate}} {{'REQUIRED'|translate}}
                </span>
            </div>-->
            <!-- <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'EFFECTDATE'|translate}}</label>
                <input type="date" class="p-2  w-full" formControlName="effectDate" pInputText />                
            </div> -->
        </div>

        <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12 p-0"
            style="max-height: 350px; overflow: scroll;">
            <p-table #dt [value]="companies" [(selection)]="selectedPackages" [tableStyle]="{'min-width': '50rem'}"
                [filterDelay]="0" [globalFilterFields]="['name','code','address', 'contactNo']">
                <ng-template pTemplate="caption">
                    <div class="flexBox">
                        <button pButton label="Clear" class="p-button-outlined p-button-sm" icon="pi pi-filter-slash"
                            (click)="clear(dt)"></button>
                        <span class="p-input-icon-left ml-auto float-right">
                            <input pInputText type="text"
                                (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                                placeholder="Search keyword" />
                            <i class="pi pi-search"></i>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <!-- <th style="width: 4rem"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th> -->
                        <th class="vcenter text-center" style="width: 4rem">
                            <input type="checkbox" [(ngModel)]="isCheckedAll" [ngModelOptions]="{standalone: true}"
                                (click)="checkedAll($event)">
                        </th>
                        <th style="width: 20rem">{{'NAME' | translate}}</th>
                        <th style="width: 15rem">{{'ADDRESS' | translate}}</th>
                        <th style="width: 1rem">{{'CONT. NO.' | translate}}</th>

                        <th style="width: 1rem">{{'COMMISSION(TK)' | translate}}</th>
                        <th style="width: 1rem">{{'EFECT DATE' | translate}}</th>
                    </tr>
                     <tr>
                        <div [hidden]="progressStatus" style="position: absolute; z-index: 10; ">
                         <p-progressSpinner></p-progressSpinner>
                        </div>
                     </tr>
                </ng-template>
                <ng-template pTemplate="body" let-com>
                    <tr>
                        <!-- <td>
                        <p-tableCheckbox [value]="com"></p-tableCheckbox>
                    </td> -->
                        <td class="vcenter text-center">
                            <input type="checkbox" (click)="checkedItem($event, com);" [(ngModel)]="com.isActive"
                                [ngModelOptions]="{standalone: true}" />
                        </td>
                        <td>{{com.code+'-'+com.name}}</td>
                        <td>{{com.address}}</td>
                        <td>{{com.contactNo}}</td>

                        <td>
                            <input type="text" [(ngModel)]="com.commissionAmount" [ngModelOptions]="{standalone: true}">
                        </td>
                        <td>
                            <input type="date" [(ngModel)]="com.effectDate" [ngModelOptions]="{standalone: true}">
                            <!-- <p-calendar [showIcon]="true" [(ngModel)]="com.effectDate" dateFormat="dd/mm/yy"
                                [ngModelOptions]="{standalone: true}" placeholder="dd/MM/yyyy"></p-calendar> -->
                        </td>
                    </tr>
                    
                </ng-template>
            </p-table>
        </div>

        <ng-template pTemplate="footer">
            <div class="formgrid grid">
                <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-32">
                    <div class="card-footer">
                        <p-button (click)="save()" [disabled]="frm.invalid" styleClass="p-button-success p-button-sm"
                            type="submit" icon="pi pi-check" label="{{'SAVE'|translate}}">
                        </p-button>&nbsp;
                        <p-button type="reset" styleClass="p-button-warning p-button-sm" icon="pi pi-refresh"
                            (click)="reset()" label="{{'RESET'|translate}}"></p-button>

                    </div>
                </div>
            </div>
        </ng-template>
    </p-panel>
</form>


<!-- <p-confirmDialog  [baseZIndex]="10000"></p-confirmDialog>
<form [formGroup]="frm" (ngSubmit)="save()">
    <p-panel>
        <ng-template pTemplate="header"> <span class="text-primary font-semibold text-xl">{{'CLIENTPACKAGE' |
                translate}}</span></ng-template>

        <div class="formgrid grid">
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'CLIENT'|translate}}</label><span class="text-danger">*</span>
                <p-dropdown [options]="companies" [style]="{'width':'100%'}" formControlName="cmnCompanyId" [filter]="true"
                    filterBy="name" [showClear]="true" placeholder="{{'SELECT'|translate}}" optionLabel="name"
                    optionValue="id" (onChange)="getPackagelByClientId()"></p-dropdown>
                <span *ngIf="frm.controls['cmnCompanyId'].invalid && frm.controls['cmnCompanyId'].touched" class="text-danger">
                    {{'CLIENT' | translate}} {{'REQUIRED' | translate}}
                </span>
            </div>
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'EFFECTDATE'|translate}}</label>
                <input type="date" class="p-2  w-full" formControlName="effectDate" pInputText />                
            </div>
        </div>

        <p-table [value]="packages" [(selection)]="selectedPackages" [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 4rem"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                    <th style="min-width:200px">{{'PACKAGE' | translate}}</th>
                    <th style="min-width:200px">{{'PRICE' | translate}}</th>
                    <th style="min-width:200px">{{'COMMISSIONAMOUNT' | translate}}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-permission>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="permission"></p-tableCheckbox>
                    </td>
                    <td>{{permission.name}}</td>
                    <td>{{permission.price}}</td>
                    <td>
                        <input type="text" [(ngModel)]="permission.commissionAmount" [ngModelOptions]="{standalone: true}" 
                          [value]="permission.commissionAmount">
                      </td>
                </tr>
            </ng-template>
        </p-table>

        <ng-template pTemplate="footer">
            <div class="formgrid grid">
                <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-32">
                    <div class="card-footer">
                        <p-button (click)="save()" [disabled]="frm.invalid" styleClass="p-button-success p-button-sm"
                            type="submit" icon="pi pi-check" label="{{'SAVE'|translate}}">
                        </p-button>&nbsp;
                        <p-button type="reset" styleClass="p-button-warning p-button-sm" icon="pi pi-refresh"
                            (click)="reset()" label="{{'RESET'|translate}}"></p-button>

                    </div>
                </div>
            </div>
        </ng-template>
    </p-panel>
</form> -->