<div class="grid  mt-2">
    <div class="col-12 lg:col-4 xl:col-4">
        <p-card header="Subscriber">
            <p class="m-0">
              Total:700
            </p>
            <p class="m-0">
                Active:700
            </p>
            <p class="m-0">
                InActive:700
            </p>
        </p-card>
    </div>
    <div class="col-12 lg:col-4 xl:col-4">
        <p-card header="Subscriber">
            <p class="m-0">
                Lorem ipsum dolor sit amet...
            </p>
        </p-card>
    </div>
</div>

<p-accordion [multiple]="true" [activeIndex]="[0]">
    <p-accordionTab header="Header I">
        <p>
            Lorem ipsum dolor sit amet...
        </p>
    </p-accordionTab>
    <p-accordionTab header="Header II">
        <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
        </p>
    </p-accordionTab>
    <p-accordionTab header="Header III">
        <p>
            At vero eos et accusamus et iusto odio dignissimos...
        </p>
    </p-accordionTab>
</p-accordion>