<p-confirmDialog  [baseZIndex]="10000"></p-confirmDialog>
<p-panel>
    <ng-template pTemplate="header"> <span class="text-primary font-semibold text-xl">{{'INTEGRATORCREDENTIAL' | translate}}</span></ng-template>
<form [formGroup]="frm" (ngSubmit)="save()">
    <input type="hidden" formControlName="id" value=0>
        <div class="formgrid grid">
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'NAME'|translate}}</label>
                <input type="text" class="p-2  w-full" formControlName="integratorName"
                     pInputText />
            </div>
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'VERSION'|translate}}</label><span class="text-danger"> *</span>
                <input type="text" class="p-2  w-full" formControlName="version" pInputText />
            </div>
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'IPADDRESS'|translate}}</label><span class="text-danger"> *</span>
                <input type="text" class="p-2 w-full" formControlName="serverIP" pInputText />
                <!-- <span *ngIf="frm.controls['ContactPerson'].invalid && frm.controls['ContactPerson'].touched "
                    class="text-danger">
                    {{'CONTACTPERSON'|translate}} {{'REQUIRED'|translate}}
                </span> -->
            </div>
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'PORTNO'|translate}}</label><span class="text-danger"> *</span>
                <input type="number" class="p-2 w-full" formControlName="portNo" pInputText />
                <!-- <span *ngIf="frm.controls['ContactNo'].invalid && frm.controls['ContactNo'].touched "
                    class="text-danger">
                    {{'CONTACTNO'|translate}} {{'REQUIRED'|translate}}
                </span> -->
            </div>
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'TOKEN'|translate}}</label><span class="text-danger"> *</span>
                <input type="text" class="p-2  w-full" formControlName="token" pInputText />
            </div>
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'NETWORKID'|translate}}</label><span class="text-danger"> *</span>
                <input type="number" class="p-2  w-full" formControlName="networkID"
                    pInputText /><br>
                <!-- <span *ngIf="frm.controls['CmnCompanyTypeId'].invalid && frm.controls['CmnCompanyTypeId'].touched "
                    class="text-danger">
                    {{'COMPANYTYPE'|translate}} {{'REQUIRED'|translate}}
                </span> -->
            </div>
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'PROVIDERID'|translate}}</label>
                <input type="text" class="p-2 w-full" formControlName="providerID" pInputText />
            </div>
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'SMSID'|translate}}</label>
                <input type="text" class="p-2 w-full" formControlName="sMSID" pInputText />
                <!-- <span *ngIf="frm.controls['Email'].invalid && frm.controls['Email'].touched " class="text-danger">
                    {{'EMAIL'|translate}} {{'REQUIRED'|translate}}
                </span> -->
            </div>
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'PORTNO2'|translate}}</label>
                <input type="number" class="p-2  w-full" formControlName="portNo1" pInputText />
            </div>
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'CLIENTIPADDRESS'|translate}}</label>
                <input type="text" class="p-2  w-full" formControlName="clientIPAddress"
                    pInputText /><br>
            </div>
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'DESTINATIONID'|translate}}</label>
                <input type="text" class="p-2  w-full" formControlName="destinationID"
                    pInputText /><br>
            </div>
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'MOBID'|translate}}</label>
                <input type="text" class="p-2  w-full" formControlName="mOPID"
                    pInputText />
                <!-- <span *ngIf="frm.controls['Address'].invalid && frm.controls['Address'].touched " class="text-danger">
                    {{'ADDRESS'|translate}} {{'REQUIRED'|translate}}
                </span> -->
            </div>
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'SOURCEID'|translate}}</label>
                <input type="text" class="p-2 w-full" formControlName="sourceID"
                    pInputText />
            </div>
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'USERID'|translate}}</label>
                <input type="text" class="p-2 w-full" formControlName="userID"
                    pInputText />
            </div>
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'PASSWORD'|translate}}</label>
                <input type="text" class="p-2 w-full" formControlName="password"
                    pInputText />
            </div>
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'OPARATORACTIVEINTERVAL'|translate}}</label>
                <input type="text" class="p-2 w-full" formControlName="operatorActiveInterval"
                    pInputText />
            </div>
            <div class="form-check mt-1 ml-3 mb-3">
                <input class="form-check-input" type="checkbox" value="true" id="flexCheckDefault" [defaultChecked]="true"
                    formControlName="isActive" >
                <label class="form-check-label" for="flexCheckDefault"> {{'ISACTIVE' | translate}} </label>
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
                <div class="card-footer">
                    <div class="">
                        <p-button (click)="save()" [disabled]="frm.invalid" styleClass="p-button-success p-button-sm"
                            type="submit" icon="pi pi-check" label="{{'SAVE'|translate}}"></p-button>&nbsp;
                        <p-button type="reset" styleClass="p-button-warning p-button-sm" icon="pi pi-refresh"
                            (click)="reset()" label="{{'RESET'|translate}}"></p-button>
                    </div>
                </div>
            </div>
        </div>
</form>
</p-panel>