<form [formGroup]="frm" (ngSubmit)="save()">
    <p-confirmDialog  [baseZIndex]="10000"></p-confirmDialog>
    <p-panel>
        <ng-template pTemplate="header"> <span class="text-primary font-semibold text-xl">{{'INTREGATIONPERMISSION' |
                translate}}</span></ng-template>

        <div class="formgrid grid">
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'CLIENT'|translate}}</label>
                <p-dropdown [options]="companies" [style]="{'width':'100%'}" formControlName="companyId"
                    [filter]="true" filterBy="name" [showClear]="true" placeholder="{{'SELECT'|translate}}"
                    optionLabel="name" optionValue="id" (onChange)="getPermissionByCompanyId()"></p-dropdown>
                <span *ngIf="frm.controls['companyId'].invalid && frm.controls['companyId'].touched "
                    class="text-danger">
                    {{'CLIENT' | translate}} {{'REQUIRED' | translate}}
                </span>
            </div>
        </div>

        <p-table [value]="integrators" [(selection)]="selectedIntegrators" [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 4rem"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                    <th style="min-width:200px">{{'INTREGATORNAME' | translate}}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-permission>
                <tr >
                    <td>
                        <p-tableCheckbox [value]="permission"></p-tableCheckbox>
                    </td>
                    <td>{{permission.name}}</td>
                </tr>
            </ng-template>
        </p-table>

        <ng-template pTemplate="footer">
            <div class="formgrid grid">
                <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
                    <div class="card-footer">
                        <p-button (click)="save()" [disabled]="frm.invalid" styleClass="p-button-success p-button-sm"
                            type="submit" icon="pi pi-check" label="{{'SAVE'|translate}}">
                        </p-button>&nbsp;
                        <p-button type="reset" styleClass="p-button-warning p-button-sm" icon="pi pi-refresh"
                            (click)="reset()" label="{{'RESET'|translate}}"></p-button>

                    </div>
                </div>
            </div>
        </ng-template>
    </p-panel>
</form>