<p-confirmDialog [baseZIndex]="10000"></p-confirmDialog>
<p-panel>
    <ng-template pTemplate="header"> <span class="text-primary font-semibold text-xl">{{'PACKAGESETUP' |
            translate}}</span></ng-template>
    <form [formGroup]="frm" (ngSubmit)="save()">
        <input type="hidden" formControlName="id" value="0">
        <div class="formgrid grid">
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'SERVICETYPE'|translate}}</label><span class="text-danger"> *</span><br>
                <p-dropdown [options]="services" [style]="{'width':'100%'}" formControlName="cmnServiceTypeId"
                    [filter]="true" filterBy="name" [showClear]="true" placeholder="{{'SELECT'|translate}}"
                    optionLabel="name" optionValue="id"></p-dropdown><br>
                <span *ngIf="frm.controls['cmnServiceTypeId'].invalid && frm.controls['cmnServiceTypeId'].touched "
                    class="text-danger">
                    {{'SERVICETYPE'|translate}} {{'NAME'|translate}} {{'REQUIRED'|translate}}
                </span>
            </div>
            <!-- <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'INTEGRATORPACKAGE'|translate}}</label>
                <p-dropdown [options]="integratorPackages" [style]="{'width':'100%'}" formControlName="cmnIntegratorPackageId"
                    [filter]="true" filterBy="name" [showClear]="true" placeholder="{{'SELECT'|translate}}"
                    optionLabel="name" optionValue="id"></p-dropdown><br>
                <span *ngIf="frm.controls['cmnIntegratorPackageId'].invalid && frm.controls['cmnIntegratorPackageId'].touched "
                    class="text-danger">
                    {{'PACKAGE'|translate}} {{'REQUIRED'|translate}}
                </span>
            </div> -->
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'Products'|translate}}</label>
                <p-dropdown [options]="products" [style]="{'width':'100%'}" formControlName="scpProductId"
                    [filter]="true" filterBy="name" [showClear]="true" placeholder="{{'SELECT'|translate}}"
                    optionLabel="name" optionValue="id"></p-dropdown><br>
                <span *ngIf="frm.controls['scpProductId'].invalid && frm.controls['scpProductId'].touched "
                    class="text-danger">
                    {{'PACKAGE'|translate}} {{'REQUIRED'|translate}}
                </span>
            </div>
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'NAME'|translate}}</label><span class="text-danger"> *</span><br>
                <input type="text" class="p-2  w-full" placeholder="" formControlName="name" pInputText />
                <span *ngIf="frm.controls['name'].invalid && frm.controls['name'].touched " class="text-danger">
                    {{'NAME'|translate}} {{'REQUIRED'|translate}}
                </span>
            </div>
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'PRICE'|translate}}</label><span class="text-danger"> *</span><br>
                <input type="number" class="p-2  w-full" placeholder="" formControlName="price" pInputText />
                <span *ngIf="frm.controls['price'].invalid && frm.controls['price'].touched " class="text-danger">
                    {{'PRICE'|translate}} {{'NAME'|translate}} {{'REQUIRED'|translate}}
                </span>
            </div>
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'NumberOfChannels'|translate}}</label><br>
                <input type="number" class="p-2  w-full" placeholder="" formControlName="numberOfChannels" pInputText />
                <span *ngIf="frm.controls['numberOfChannels'].invalid && frm.controls['price'].touched " class="text-danger">
                    {{'NumberOfChannels'|translate}}  {{'REQUIRED'|translate}}
                </span>
            </div>
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'NumberOfHDChannels'|translate}}</label><br>
                <input type="number" class="p-2  w-full" placeholder="" formControlName="numberOfHDChannels" pInputText />
                <span *ngIf="frm.controls['numberOfHDChannels'].invalid && frm.controls['price'].touched " class="text-danger">
                    {{'NumberOfHDChannels'|translate}}  {{'REQUIRED'|translate}}
                </span>
            </div>
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'NumberOfSDChannels'|translate}}</label><br>
                <input type="number" class="p-2  w-full" placeholder="" formControlName="numberOfSDChannels" pInputText />
                <span *ngIf="frm.controls['numberOfSDChannels'].invalid && frm.controls['price'].touched " class="text-danger">
                    {{'NumberOfSDChannels'|translate}}  {{'REQUIRED'|translate}}
                </span>
            </div>
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3" *ngIf="isDisplayed">
                <label>{{'FREEDAYS' | translate}}</label>
                <input type="text" class="p-2  w-full" formControlName="" placeholder="" pInputText />
            </div>
            <div class="form-check mt-1 ml-3 mb-1">
                <input class="form-check-input" type="checkbox" value="true" id="flexCheckDefault"
                    formControlName="isBasic">
                <label class="form-check-label" for="flexCheckDefault"> {{'BASIC' | translate}} </label>
            </div>
            <div class="form-check mt-1 ml-3 mb-1">
                <input class="form-check-input" type="checkbox" value="true" id="flexCheckDefault"
                    formControlName="isFree" (change)="onclick($event)">
                <label class="form-check-label" for="flexCheckDefault"> {{'FTA' | translate}} </label>
            </div>
            <div class="form-check mt-1 ml-3 mb-1">
                <input class="form-check-input" type="checkbox" value="true" id="flexCheckDefault"
                    formControlName="isAutoRefund">
                <label class="form-check-label" for="flexCheckDefault"> {{'AUTOREFUND' | translate}} </label>
            </div>
            <div class="form-check mt-1 ml-3 mb-1">
                <input class="form-check-input" type="checkbox" value="true" id="flexCheckDefault"
                    formControlName="isActive">
                <label class="form-check-label" for="flexCheckDefault"> {{'ISACTIVE' | translate}} </label>
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
                <div class="card-footer">
                    <p-button (click)="save()" [disabled]="frm.invalid" styleClass="p-button-success p-button-sm"
                        type="submit" icon="pi pi-check" label="{{'SAVE' | translate}}"></p-button>&nbsp;
                    <p-button (click)="reset()" styleClass="p-button-warning p-button-sm" icon="pi pi-refresh"
                        (click)="reset()" label="{{'RESET'|translate}}"> </p-button>
                </div>
            </div>
        </div>
    </form>

</p-panel>



<p-table #dt [value]="packages" dataKey="id" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[15,25,50,100]" [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
    [globalFilterFields]="['Name']" styleClass="p-datatable-sm p-datatable-gridlines pt-3"
    [tableStyle]="{'min-width': '50rem'}">

   <!--<ng-template pTemplate="caption">
        <div class="flex">
            <button pButton label="Clear" class="p-button-outlined p-button-sm" icon="pi pi-filter-slash"
                (click)="clear(dt)"></button>
            <span class="p-input-icon-left ml-auto float-right">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                    placeholder="Search keyword" />
            </span>
        </div>
    </ng-template>--> 

    <ng-template pTemplate="header">
        <tr>
            <th class="">{{'SL#' | translate}}</th>
            <!-- <th class="vcenter text-center">{{'SERVICETYPE' | translate}}</th> -->
            <th class=""> {{'NAME' | translate}}</th>
            <th class="">{{'PRICE' | translate}}</th>
            <th class="">{{'NumberOfChannels' | translate}}</th>
            <th class="">{{'NumberOfHDChannels' | translate}}</th>
            <th class="">{{'NumberOfSDChannels' | translate}}</th>
            <!-- <th class="vcenter text-center">{{'FTA' | translate}}</th>
            <th class="vcenter text-center">{{'AUTOREFUND' | translate}}</th> -->
            <th class=" text-center">{{'ACTION' | translate}}</th>
        </tr>
        <tr>
            <div [hidden]="progressStatus" style="position: absolute; z-index: 10; ">
             <p-progressSpinner></p-progressSpinner>
            </div>
         </tr>
    </ng-template>

    <ng-template pTemplate="body" let-r | let-i="rowIndex">
        <tr class="p-selectable-row">
            <td>{{i+1}}</td>
            <!-- <td>{{r.name}}</td> -->
            <td>{{r.name}}</td>
            <td>{{r.price}}</td>
            <td>{{r.numberOfChannels}}</td>
            <td>{{r.numberOfHDChannels}}</td>
            <td>{{r.numberOfSDChannels}}</td>
            <td class="vcenter text-center">
                <p-button type="button" styleClass="p-button-success p-button-sm mr-2 px-2 py-1" icon="pi pi-pencil"
                    (click)="edit(r)" data-toggle="tooltip" title="{{'EDIT' | translate}}"></p-button>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="9">No data found.</td>
        </tr>
    </ng-template>

</p-table>